html{
    font-size: 62.5%;
    overflow-x: hidden;
}
*{
    marin: 0;
    pdding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
header{
    width: 100%;
  
    height: 10rem;
    background-color: #06191d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f67e7d;
    box-shadow: 0 0rem 2rem #06191d;
    position: fixed;
}
.brandName{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 800;
    pointer-events: none;
}
ul{
    display: flex;
}
li{
    padding: 0 1rem;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #f67e7d;
    padding: 1rem;
    font-weight: 600;
}
.active{
    background-color: #f67e7d;
    color: #06191d;
}
.ham{
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99;
    display: none;
}
.bar{
    width: 100%;
    height: 0.3rem;
    background-color: #f67e7d;
}

@media (max-width:980px){
    html{
        font-size: 0.5rem;
    }
    .ham{
        display:flex;
    }
    ul{
       width: 50%;
       height: 100vh;
       background-color: #06191d;
       position: absolute;
       top: 0;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       transform: translateX(150%);
       transition: transform 0.5s ease-in-out;
    }
    li{
        padding: 2rem 0;
    }
    .move ul{
        transform: translateX(50%);
    }
    
   
}