body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
  font-weight: 300;
}

.cardcon{
  display: flex;
overflow:auto;
white-space: nowrap;
  justify-content: center;
  align-items: center;

}
.cardcon2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(17, 19, 23);
}
.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}